= simple_form_for @card, defaults: { wrapper_html: { class: 'flex flex-col' } } do |f|
    =f.input :original_text, label: t('card.original_text')
    =f.input :translated_text, label: t('card.translated_text') 
    =f.button :submit